/*-------------
 	General
-------------*/

@font-face {
    font-family: "Play";
    src: url("../font/play.regular.ttf"); format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font: normal 16px sans-serif;
	color: #555;
    font-family: 'Play', sans-serif;
}
ul, nav{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}
a:hover{
	opacity: 1;
}
a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}
hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}
section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	margin-bottom: 35px;
	text-align: center;
}
section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*-------------
 	Header
-------------*/

header{
    background-color: #476060;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
	padding: 1% 10% 1% 10%;
  transition: 0.5s;
}
header h2 img{
	width: 300px;
	height: auto;
	margin: 0 0 0 -100px;
}
header nav ul{
	display: flex;
}
header nav li{
	margin: 0 15px;
	font-size: 20px;
	display: inline-block;
}
header nav li:first-child{
	margin-left: 0;
}
header nav li:last-child{
	margin-right: 0;
}
header nav li a:hover{
	color: red;
}
.scroll{
  padding: 0.5% 10%;
  transition: 0.5s;
}
/*----------------
 	Slider-section
----------------*/

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

.slider{
  width: 100%;
}
.slider section{
  display: block;
  width: 100%;
  transition: 0.1;
  overflow: hidden;
  z-index: -20;
}


/*----------------
 	First-section
----------------*/

.first-section{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.first-section .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}
.first-section .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}
.first-section h1{
    font-size: 58px;
	margin-bottom: 15px;
}
.first-section h3{
    font-size: 36px;
	margin-bottom: 40px;
}
.first-section a.btn{
	padding: 20px 46px;
}

/*--------------------
 	Content-section
---------------------*/


#c1{
    background: #1531AE;
}
#c2{
    background: #FFB400;
}
#c3{
    background: #E40045;
}
#c4{
    background: #67E300;
}
.content{
    color: #000;
    display: block;
    padding: 80px 100px;
}
.background-img-left{
    text-align: left;
}
.background-img-right{
    text-align: right;
}

.content-snippet{
    display: inline-block;
}
#bottomdiv{
    text-align: left;
}
.content h1{
    font-size: 42px;
    line-height: 1.15;
    text-align: left;
    margin: 10px 0 50px 0;
}
.content h3{
    font-size: 22px;
    margin-top: 45px;
}
.content-snippet img{
    width: 60px;
    height: 60px;
    display: block;
}
.snip{
    display: flex;
    margin: 5px 20px 35px 0;
}
.snip p{
    margin-top: 5px;
    text-align: left;
}
.description{
    display: block;
    width: 200px;
    height: 20px;
    word-wrap: break-word;
    line-height: 1.3;
}

/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}
.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 80%;
}
.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}
.contact form .btn{
	padding: 18px 42px;
}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}
footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}
footer ul li{
	margin: 0 8px;
}
footer ul li:first-child{
	margin-left: 0;
}
footer ul li:last-child{
	margin-right: 0;
}
footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}
footer p a{
	color: #fff;
}

/*-----------------
    Scroll-button
-----------------*/

#btn-top{
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #000;
    font-size: 40px;
}
#btn-top img{
    width: 45px;
}
#btn-top:hover{
    cursor: pointer;
    background: red;
}
